#sddm {
    margin: 2px;
    padding: 0;
    z-index: 30;
}

#sddm li {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    font: bold 11px arial;
}

#sddm li a {
    display: block;
    margin: 0 1px 0 0;
    padding: 2px 10px;
    width: auto;
    color: #FFF;
    text-align: center;
    text-decoration: none;
}

#sddm li a:hover {
    background: #0a94d6;
}

#sddm div {
    position: absolute;
    visibility: hidden;
    margin: 0;
    padding: 0;
    background: #EEEEEE;
    border: 1px solid #999999;
}

#sddm div a {
    position: relative;
    display: block;
    margin: 0;
    padding: 5px 10px;
    width: auto;
    white-space: nowrap;
    text-align: left;
    text-decoration: none;
    background: #EEEEEE;
    color: black;
    font: 11px arial;
}

#sddm div a:hover {
    background: #bbbccc;
    color: #FFF;
}